.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.iframe {
    flex: 1;
    border: 0;
}

.waiting {
    align-items: center;
    justify-content: center;
    gap: 20px;
}
